i.mce-i-tk_panel:before{
    font-family:dashicons;
    content:"\f134";
    border:1px solid #555d66;
    border-radius:2px;
}
i.mce-i-tk_downloadfile:before{
    font-family:dashicons;
    content:"\f316";
}
