/*
global styles for editor
removed as they were interfereing with too much, and don't reflect the correct colours of the theme

body {
    font-family: "freight-sans-pro", sans-serif;
}
a {
    font-family: "freight-sans-pro", sans-serif;
    color: #b31b1b;
    text-decoration:none;
}
a:hover {
    color: #aa8f6f;
}
*/