i.mce-i-tk_panel:before {
    font-family: "dashicons";
    content: "\f116";
}
i.mce-i-downloadfile:before{
    font-family:dashicons;
    content:"\f316";
}
i.mce-i-tk_button:before{
    font-family:dashicons;
    content:"\f180";
}
